/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
  padding: 0;
}

body {
  font-size: .14rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: .4rem;
  color: #fff;
  background: #3d7eff;
}

.body {
  height: calc(100vh - 1rem);
  color: #434343;
  padding: .08rem;
  background: white;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: .08rem;
}

.user-avatar {
  width: .36rem;
  height: .36rem;
  margin-right: .10rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
}

.message {
  display: inline-block;
  /*align-items: center;*/
  max-width: 2.5rem;
  line-height: 1.7;
  /*margin-left: .16rem;*/
  padding: .06rem .12rem;

  min-width: 0;
  position: relative;
  background-color: #e4ecf3;
  color: #333b52;
  border-radius: 0 .12rem .12rem .12rem;
  -webkit-transform-origin: 0 2%;
  transform-origin: 0 2%;
  will-change: opacity,transform;
}
.message:before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
  background-color: #e4ecf3;
  left: -8px;
}
.message:after {
  content: "";
  height: 9px;
  width: 9px;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 0;
  left: -9px;
}

.is-me .message {
  color: #fff;
  border-radius: .12rem 0 .12rem .12rem;
  background-color: #3d7eff;
}

.is-me .message:before {
  background-color: #3d7eff;
  top: 0;
  right: -8px;
  left: auto;
}

.is-me .message:after {
  top: 0;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  right: -9px;
  left: auto;
}

.footer {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .10rem .18rem;
  background: #3d7eff;
}

.footer #input {
  flex: 1;
  height: .40rem;
  border-radius: .08rem;
  outline: none;
  border: none;
  padding-left: .12rem;
}

.footer #send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: .40rem;
  color: #ffffff;
}

#messageBox {
  height: calc(100% - 0rem);
  overflow-y: auto;
}

#messageBox li {
  margin-bottom: .20rem;
}

.is-me {
  display: flex;
  justify-content: flex-end;
}

.is-me .user {
  justify-content: flex-end;
}
.is-me .user-avatar {
  margin-right: 0;
  margin-left: .1rem;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  /*color: #aa6c00;*/
  /*background: #fff4e0;*/
}
.toast.is-warn {
  width: 100%;
}
.toast.is-warn .toast-inner {
  width: 80%;
  color: #aa6c00;
  text-align: center;
  margin: .1rem auto;
  background: #fff4e0;
}
.toast-inner {
  display: inline-block;
  max-width: 80%;
  font-size: .12rem;
  color: #707e97;
  padding: .04rem .12rem;
  border-radius: .12rem;
  margin: 0 auto;
  background-color: #f5f7fa;
}

.match, .leave {
  width: .8rem;
  font-size: .12rem;
  text-align: center;
}

#targetName {
  flex: 1;
  font-size: .15rem;
  text-align: center;
}

.edit-name {
  width: 100%;
  text-align: center;
  margin: .3rem auto;
}

.edit-name button {
  color: #5c92fc !important;
  border-color: #5c92fc !important;
  background-color: #eff5fb !important;
}
